ion-item {
  --inner-border-width: 0;
  --border-width: 0 0 1px 3px;
  --border-color: grey;

  &.ion-valid {
    --border-color: grey green;
  }

  &.ion-invalid {
    --border-color: grey red;
  }
}
